.has1{
    border: 2px solid red;
    background-color:  #6A6;
    padding: 10px;
}

.has2{
    border: 2px solid red;
    background-color:  #6A6;
    padding: 10px;
}

.lista{
    margin: 15px;
    background-color: #DE1E7E;
}

.para1{
    height: 500px;
    width: 300px;
    border: 2px dotted black;
    background-color: #FB1;
    
}

.para2{
    height: 500px;
    width: 300px;
    border: 2px dotted black;
    background-color: #FB1;
    
}

.para3{
    height: 500px;
    width: 300px;
    border: 2px dotted black;
    background-color: #FB1;
    
}

.links{
    border-bottom: dashed blue;
    background-color: #a1a1a1;
    
    
}


.box1{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: static;
}

.box2{
    height: 200px;
    width: 200px;
    background-color: green;
    position: relative;
    left: 100px;
    bottom: 100px;
}

.box3{
    height: 200px;
    width: 200px;
    background-color: red;
    position: relative;
    bottom: 200px;
    left: 200px;

}

body{
    background-color: lightgrey;
}


nav{
    height: 140px;
    width: 120px;
    border: solid 2px purple;
    position: relative;
    background-color: white;
}

.section1{
    height: 50px;
    width: 75%;
    border: solid 2px yellow;
    margin-left: 125px;
    bottom: 140px;
    position: relative;
    display: inline-block;
    background-color: white
    
}

.section2{
    height: 150px;
    width: 75%;
    border: solid 2px yellow;
    margin-left: 125px;
    bottom: 140px;
    position: relative;
    background-color: white

}

.section3{
    height: 50px;
    width: 75%;
    border: solid 2px yellow;
    margin-left: 125px;
    bottom: 140px;
    position: relative;
    background-color: white

}

footer{
    height: 100px;
    width: 85%;
    border: solid 2px green;
    position: relative;
    bottom: 140px;


}

.item-a {
    grid-area: header;
  }
  .item-b {
    grid-area: main;
  }
  .item-c {
    grid-area: sidebar;
  }
  .item-d {
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }